# Application & Base de données
SECRET_KEY=.......
HOST=...
PORT=...0000
DEBUG=...True
DATABASE_URL=...path


# 3. Firebase Cloud Messaging (FCM pour les notifications Push mobiles - Élèves/Parents)
FIREBASE_CREDENTIALS_P=...

# Cache
REDIS_URL=...

# --- Sentry ---
SENTRY_DSN=...

# Emails
MAIL_USERNAME=...
MAIL_PASSWORD=...
MAIL_FROM=...
MAIL_PORT=...
MAIL_SERVER=...

# Paiements 
CINETPAY_SITE_ID=...
CINETPAY_API_KEY=...

STRIPE_SECRET_KEY=...

# Cloud
CLOUDINARY_CLOUD_NAME=...
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...

# Notifications

# 1. WhatsApp (Via Twilio, Meta Business API ou fournisseur tiers)
WHATSAPP_API_URL=...
WHATSAPP_API_TOKEN=...

# 2. Telegram (Bot Father)
TELEGRAM_BOT_TOKEN=...
TELEGRAM_CHAT_ID=...

# --- Configuration SMS (Orange / Passarelle SMS) ---
SMS_CLIENT_ID=...
SMS_CLIENT_SECRET=...
SMS_SENDER_PHONE=..."+22500000000" 
SMS_AUTH_HEADER=..." 
SMS_API_KEY=...
SMS_API_URL=...https://api.fournisseur-sms.com/v1
SMS_SENDER_NAME=...


